<div id="main-slider-login" class="carousel">
	<div class="container">
	<div class="row">
		<div class="col-xs-10 col-sm-7 col-md-6 col-lg-5 col-centered login-container well">
			<!--<h1 style="text-align: center">Login</h1>-->
			{{status}}
			<div class="row">
				<div class="col-xs-12">
					<form role="form" name="loginForm" ng-submit="login(credentials)" novalidate>
						<div class="form-group">
							<label class="control-label" cfor="email">E-mail</label>
							<input required type="text" ng-model="credentials.email" ng-class="getLoginUnsuccesful(credentials)"  class="form-control" id="email" name="email" placeholder="john.doe@gmail.com" />
						</div>
						<div class="form-group">
							<label class="control-label" for="password">Password</label>
							<input required ng-model="credentials.password" type="password" class="form-control" id="password" name="password" placeholder="ex: mypass" />
						</div>
						<div ng-show="credentials.failedLogin" class="login-failed-text">
							Wrong Email/Password Combination
						</div>
						<div class="row">
							<div ng-click="login(credentials)" class="signup-button signup-button-form col-xs-6 col-centered">
   								Log In
   							</div>
						</div>
					</form>
				</div>
			</div>	
			<p class= "fb-intro"> ------------ OR ------------ </p>
			<div class="row">
   				<div class="signup-button signup-button-facebook fb-bg col-xs-12" ng-click="login_fb()">
   					Log In With Facebook
   				</div>
   			</div>				
		</div>
	</div>
</div>